@{
    Layout = null;
}

<div class="content text-block">
    <section>
        <p>
            天將降大任於斯人也，必先苦其心志，勞其筋骨，空乏其身，行拂亂其所為，所以動心忍性，增益其所不能。
            天將降大任於斯人也，必先苦其心志，勞其筋骨，空乏其身，行拂亂其所為，所以動心忍性，增益其所不能。
        </p>
    </section>
</div>
<div class="sub-title">
    文字副標題
</div>