@{
    Layout = null;
}

<div class="no-teams-containers ">
    <div class="text-center">您尚未加入任何團隊</div>
    <div class="text-center">
        <button class="btn btn-success" data-toggle="modal" data-target="#addTeamView">+</button>
    </div>
</div>

<partial name="_AddTeam" />