@{
    ViewData["Title"] = "Home";
}

<h2 class="text-center">我的最愛</h2>
<hr>

<div class="container">
    <div class="text-center">
        <a class="btn btn-primary" href="@Url.Action("Index","Category")">類別管理</a>
        <a class="btn btn-primary" href="@Url.Action("Index","Material")">料件管理</a>
        <a class="btn btn-primary" href="@Url.Action("Index","Stock")">庫存管理</a>
    </div>
</div>