@{
    ViewData["Title"] = "註冊";
}

    <form id="signUpForm" class="base-form-border" asp-controller="Login" asp-action="SignUp">
        <div class="text-center">填寫資訊以註冊</div>
        <hr />
        <div class="form-group row">
            <label for="signUpName" class="col-3 col-form-label text-center">姓名</label>
            <div class="col-8">
                <input type="text" class="form-control" id="Member.Name">
            </div>
        </div>
        <div class="form-group row">
            <label for="signUpModilePhone" class="col-3 col-form-label text-center">手機</label>
            <div class="col-8">
                <input type="text" class="form-control" id="Member.ModilePhone">
            </div>
        </div>
        <div class="form-group row">
            <label for="signUpMail" class="col-3 col-form-label text-center">信箱</label>
            <div class="col-8">
                <input type="text" class="form-control" id="Member.Mail">
            </div>
        </div>
        <div class="form-group row">
            <label for="signUpPassword" class="col-3 col-form-label text-center">密碼</label>
            <div class="col-8">
                <input type="password" class="form-control" id="Member.Password">
            </div>
        </div>
        <div class="form-group row">
            <label for="signUpPasswordCheck" class="col-3 col-form-label text-center">密碼再確認</label>
            <div class="col-8">
                <input type="password" class="form-control" id="Member.PasswordCheck">
            </div>
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-success">送出</button>
        </div>
    </form>