@model List<Layout>
@{
    ViewData["Title"] = "Index";
    var layoutMaps = Model.GroupBy(m => m.Location).ToDictionary(g => g.Key.ToString(), g => g.ToList());
}

<h2 class="text-center">設定功能列表</h2>
<hr />
<div class="container text-center">
    <a class="btn btn-success" href="@Url.Action("CreateWebSetting","Setting")">新增形象網頁設定</a>
</div>

<div style="margin-bottom:20px;"></div>

<h2 class="text-center">形象網頁設定</h2>
<hr />
<div class="container text-center">
    <div class="row">
        <div class="col-3">頁面</div>
        <div class="col-3">
            編輯
        </div>
    </div>
    @foreach (var item in layoutMaps)
    {
        <div class="row">
            <div class="col-3">@item.Key</div>
            <div class="col-3">
                <a class="btn btn-primary" href="@Url.Action("EditWebSetting","Setting", new { location = item.Key})">編輯設定</a>
            </div>
        </div>
    }
</div>

